.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.github {
    background: #000005 !important;
    color: #ffffff;
}

.github:hover {
    background: #000547 !important;
    color: #ffffff;
}

h1, h2{
    margin-bottom: 2rem;
    text-align: center;
}

p{
    text-align: center;
}

@media all and (max-device-width:768px){

    h1, h2{
        font-size: 1.7rem;
        text-align: center;
    }

}